name: IntelliJ Agent - Gradle Test

on: [push, pull_request, workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: 'gradle'

    - name: Validate Gradle Wrapper
      run: ./gradlew --version
      working-directory: JVM/intellij-coverage-agent/gradle

    - name: Run Tests
      run: ./gradlew test
      working-directory: JVM/intellij-coverage-agent/gradle
      
    - name: Create coverage-data directory and copy contents
      run: |
        mkdir -p JVM/intellij-coverage-agent/gradle/.qodana/code-coverage
        cp -R JVM/intellij-coverage-agent/gradle/build/kover/bin-reports/* JVM/intellij-coverage-agent/gradle/.qodana/code-coverage/
      
    - name: Archive coverage data
      uses: actions/upload-artifact@v2
      with:
        name: gradle-coverage-data.zip
        path: JVM/intellij-coverage-agent/gradle/.qodana/code-coverage

    - name: Login to Jetbrains Space
      uses: docker/login-action@v2
      with:
        registry: registry.jetbrains.team
        username: ${{ secrets.SPACE_REGISTRY_USERNAME }}
        password: ${{ secrets.SPACE_REGISTRY_PASSWORD }}
        
        
    - name: Qodana Scan
      uses: JetBrains/qodana-action@v2023.1.5
      env:
        QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_GRADLE }}
      with:
        args: "--log-level,debug,-i,JVM/intellij-coverage-agent/gradle,-v,${{ github.workspace }}/JVM/intellij-coverage-agent/gradle/.qodana/code-coverage:/data/coverage,--linter,registry.jetbrains.team/p/sa/containers/qodana-jvm:2023.2-nightly"
        pr-mode: false
