name: JavaScript - Jest Test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0

    - name: Use Node.js 18.x
      uses: actions/setup-node@v2
      with:
        node-version: 18.x

    - name: Install dependencies
      run: npm ci
      working-directory: JS/jest

    - name: Run tests
      run: npm test
      working-directory: JS/jest
      
    - name: Archive coverage data
      uses: actions/upload-artifact@v2
      with:
        name: jest-coverage-data
        path: JS/jest/.qodana/code-coverage

    - name: Qodana Scan
      uses: JetBrains/qodana-action@main
      env:
        QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_JS }}
      with:
        args: "-i,JS/jest,--linter,jetbrains/qodana-js:2023.3-eap"
        pr-mode: false
