name: IntelliJ Agent - Maven Test

on: [workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: 'maven'

    - name: Validate Maven Wrapper
      run: mvn --version
      working-directory: JVM/intellij-coverage-agent/maven

    - name: Run Tests
      run: mvn test
      working-directory: JVM/intellij-coverage-agent/maven
      
    - name: Archive coverage data
      uses: actions/upload-artifact@v2
      with:
        name: maven-coverage-data
        path: JVM/intellij-coverage-agent/maven/.qodana/coverage-data

    - name: Login to Jetbrains Space
      uses: docker/login-action@v2
      with:
        registry: registry.jetbrains.team
        username: ${{ secrets.SPACE_REGISTRY_USERNAME }}
        password: ${{ secrets.SPACE_REGISTRY_PASSWORD }}
        
        
    - name: Qodana Scan
      uses: JetBrains/qodana-action@v2023.1.5
      env:
        QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_MVN }}
      with:
        args: "--log-level,debug,-i,JVM/intellij-coverage-agent/maven,-v,${{ github.workspace }}/JVM/intellij-coverage-agent/maven/.qodana/coverage-data:/data/coverage,--linter,registry.jetbrains.team/p/sa/containers/qodana-jvm:2023.2-nightly"
        pr-mode: false
